body {
    font-family: Arial, Helvetica, sans-serif;
    color: #F72585;
    background-color: #3F37C9;
    text-transform: uppercase;
    max-width: 500px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 30px 0;
    border: 1px solid #ccc;
    box-sizing:border-box;
    border-radius:15px;
    background-color: #4CC9F0;
    color: #3A0CA3;
    text-align: center;    
    text-transform: capitalize;
}

.conatiner {
    margin: auto;
    width: 50%;
}

.img {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    border-radius:15px;

}

img.avatar {
    width: 40%;
    border:5px solid #F72585;
    border-radius: 250px;
}

.data{
    text-align: center;
}
.actions {
    padding: 16px;
    position: relative;
}

button {
    background-color: #B5179E;
    border: none;
    color: #3A0CA3;
    padding: 10px 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;    
    border-radius: 15px;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}